<div class="mat-typography content">
  <div class="mat-headline-1">The Triumvirate</div>
  <div class="mat-headline-2">2024 Rules</div>

  <h3>GENERAL RULES AND OTHER KEY NOTES</h3>
  <p>Costumes are not only encouraged; they are an integral part of the tradition that is the Triumvirate. Combat/jungle military uniforms for Predator, flight suits, leather jackets, etc. for Top Gun, and martial arts and general MMA gear for Bloodsport. There will be intermissions between movies and adequate time to change. A limited (but substantial) supply of aviator sunglasses is available.</p>
  <p>Hydrate or die; drink plenty of water before, during, and after the Triumvirate, and please refrain from drinking alcohol immediately prior to or in excess of the Triumvirate (what you do after the Triumvirate ain't none my business).</p>
  <p>No wounded soldiers</p>
  <p>No excuses; play like a champion</p>
  <p>Try not to talk over the films – although the Triumvirate is a lot like the Rocky Horror Picture Show in that there is plenty of supplementary yelling in screaming, do keep in mind every year we have new people who have never seen these films before (insane, right?)</p>
  <p>Respect the Triumvirate – Tri-umvirate, that’s three movies – 17 beers is not a Newman’s Day, and two and half movies is not a Triumvirate. Please be respectful of others’ time and commitment by being present and participating in all three films.</p>
   
  <h3>PREDATOR (1987 – 1 hr. 47 min.)</h3>
  <p><b>Before the movie begins…</b></p>
  <p>Dutch’s mercenaries work in two-man teams, and so do we. Choose your partner</p>
  <p>Arm yourself with a 12-ounce beer</p>
  <p><b>Ammo Dumps</b> – You must go prone and military crawl, combat roll, and/or otherwise use combat maneuvers to navigate to the various “ammo dumps” scattered around the premises to get a beer. You must always have a beer in your possession or be in the process of obtaining another. No stocking up; no assists! If you are caught ghosting us, someone will inform you they “don’t care who you were back on [the couch], you do that one more time and I’ll bleed you, real quiet, leave you here. Got that?” – Do it again and you’ll have to chug one to get one. You ugly motherfucker.</p>
  <p><b>Dillon, you son of a bitch!</b> – When Dutch and Dillon have their flex-off at the beginning of the movie, do the same thing with your partner while chugging your beer. Whomever finishes chugging first earns the privilege of delivering Arnold’s line, “What’s the matter? CIA got you pushing too many pencils?”</p>
  <p><b>God Damn Sexual Tyrannosaurus</b> – After Jesse Ventura states his iconic line, stand up, chug your beer, and then proudly exclaim to the world that you are a “GOD DAMN SEXUAL TYRANNOSAURUS!”</p>
  <p><b>Get to the Chopper!</b> - Any time a character references a helicopter (“Helo”, “Helicopter”, or just “Chopper”), yell “Get to the chopper!” and take a drink. This rule is only in effect AFTER the first chug of the movie (an early reference to the chopper happens immediately before the first chug and is to be disregarded)</p>
  <p><b>MAC!</b> - Any time a character says “Mac,” yell “MAC!”</p>
  <p>Drink for Arnold’s one-liners</p>
  <p>Finish your drink and yell like an idiot during the most gratuitous firefight ever.</p>
  <p><b>Do it now!</b> – Arnold commands you to finish your beer</p>
  <p><b>Predator Vision</b> – Good luck. It’s okay, though – the first one happens nineteen minutes into the movie (and disregard the one last one after the final chug)</p>
  <p><b>Primal Scream</b> – Everyone does the Arnold Scream near the end of the film. Top of your lungs. Let the whole world know.</p>

  <h3>TOP GUN (1986 – 1 hr. 50 min.)</h3>
  <p>Before the movie, draw your callsign, and find your wingman. You never, ever leave your wingman.</p>
  <p>Callsigns – If you hear your callsign during the movie, drink. If you are Sundown, instead drink any time Sundown is onscreen (his callsign is never mentioned)</p>
  <p>Drink whenever…</p>
  <p> - A pilot has tone</p>
  <p> - A plane lands</p>
  <p> - Any time you hear or see the words “Top Gun”</p>
  <p> - When you’re in the Danger Zone</p>
  <p> - When you hear the Top Gun Anthem</p>
  <p> - When Maverick is admittedly dangerous</p>
  <p> - You’ve lost the edge and you’re just holding on too tight</p>
  <p> - You feel the need. The need for speed!</p>
  <p>Toast whenever…</p>
  <p>- Val Kilmer wins the Top Gun trophy</p>
  <p>- Cougar turns in his wings</p>
  <p>- Maverick quits</p>
  <p>Sing whenever…</p>
  <p>- You’ve lost that loving feeling</p>
  <p>- Goodness, gracious, great balls of fire!</p>
  <p><b>Playing with the Boys</b> – It's the seventh inning stretch of the Triumvirate. No shirts allowed - we'll do some flexing and play a little volleyball</p>
  <p><b>Pour one out for Goose</b> – Everyone pours some of their drink into a common cup and we give it up for our man Goose</p>
  <p><b>Salute</b> – When a plane takes off</p>
  <p><b>Flyby</b> – Choke on your drink whenever a flyby occurs</p>
  <p><b>Naval Aviators</b> – Any time your character in the movie is wearing aviators, you wear aviators</p>

  <h3>BLOODSPORT (1988 – 1 hr. 32 min.)</h3>
  <p>Before the movie someone will be appointed as Chong Li. When a Chong Li chant begins (in the movie), whomever is Chong Li must chug a beer, then point to someone else and say to him/her, “You are next!” That person is now Chong Li.</p>
  <p>In order to enter the Kumite, you must complete the Dim Mak. "What the hell is a Dim Mak?" Good question. This will be explained at the Triumvirate.</p>
  <p><b>Complete Your Training</b> – This one is hard to explain, so newbies... good luck. You must catch the strike of the person to your left and simultaneously strike the person to your right at the end of the training montage when Frank Dux serves tea and is similarly struck at by his Shidoshi. Your punishment for failing to do so is that you are probably soaked in your own drink now and just got smacked in the face.</p>
  <p>Drink when…</p>
  <p>- You hear "Shidoshi"</p>
  <p>- You hear “Dux”</p>
  <p>- You hear “Kumite”*</p>
  <p>- Chong Li snorts</p>
  <p>- You think about how terrible plot is</p>
  <p>Whenever Jean Claude Van Damme executes a full split, comment on the fact that he executes a full split</p>
  <p>Mate (mah-tay) – If at any point you cannot or do not wish to drink any more during Bloodsport, you may say “Mate.” However, once you have said “Mate”, you may not drink any more alcohol until the end of the Triumvirate. Alright, Frankie!</p>
  <p>*Any time "Fight to Survive" is playing in the background, this becomes a round robin.</p>
  <hr>
  <a [routerLink]="['/']">
    <header>
      <h1>Return Home</h1>
    </header>
  </a>
</div>