<h1>Is it the Triumvirate today?</h1>
<div ng-cloak *ngIf="isTriumvirate; else countdown">
  <h2>Yes, it is!</h2>
</div>
<ng-template ng-cloak #countdown>
  <div>
    <h2>No, it is not</h2>
    <p>The next triumvirate will be on {{nextTriumvirateDate.toDateString()}}</p>
    <p>
      <span>{{daysUntil}} Days</span>
      <span>&nbsp;</span>
      <span>{{hoursUntil}} Hours</span>
      <span>&nbsp;</span>
      <span>{{minutesUntil}} Minutes</span>
      <span>&nbsp;</span>
      <span>{{secondsUntil}} Seconds</span>
  </div>
</ng-template>
<app-random-quote></app-random-quote>